.groupSection{
     &__groupTitle{
        border-bottom: 1px solid $bg-main;
        text-align: center;
        text-transform: uppercase;
        width: 120px;
        margin: 32px auto;
        padding-bottom: 8px;
     }
     &__groupCard{
        display: flex;
        gap: 1rem;
     }
     &__card{
        width: 100%;
     }
     &__cardImg{
        width: 100%;
     }
     &__cardDesc{
        text-transform: capitalize;
     }
     &__groupBtn{
        display: block;
        text-align: center;
        text-transform: uppercase;
        width: max-content;
        padding: 8px 16px;
        margin: 32px auto;
        background-color: $bg-main;
        color: $bg-secondary;
        border: none;
     }
}